.All {
  display: flex;
}

/* About section */

.About {
  display: inline-block;
  font-family: Helvetica,sans-serif
}
.About img {
  display: flex;
  border-radius: 2px;
  margin-left: 28.25%;
}
.AboutDetails {
  display: flex;
  flex-direction: column;
  margin: 4% 5% 2% 21%;
  color: black;
  font-family: Helvetica,sans-serif;
  text-align: center;
  padding: 2%;
  background-color: whitesmoke;
  border-radius: 2px;
  text-align: justify;
  box-shadow: 8px 8px 3px grey;
  line-height: 1.5;
}
.Name {
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 1.5%;
  left: 30.5%;
  color: white;
}
.Title {
  position: absolute;
  top: 11%;
  left: 20.5%;
  padding: 2% 0 5% 10%;
  font-size: 20px;
  color: white;
  font-weight: 600;
  line-height: 1.25;
}

/* Body  */

.Skills ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 11.2%;
  justify-content: center;
}
.SkillsIcons li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7%;
  padding: 2%;
  box-shadow: 8px 8px 3px grey;
  background-color: whitesmoke;
  border-radius: 2px;
}
.Project_4, .Project_3, .Project_2, .Project_1 {
  font-family: Helvetica,sans-serif;
  position: relative;
  width: 50%;
  margin-left: 31.5%;
  margin-bottom: 10%;
}
.Project_1 {
  margin-bottom: 5%;
}
.Project_4 img{
  height: 464px;
  width: 500px;
}
.Project_4 {
  margin-top: 6%;
  margin-bottom: 5%;
}
.Project_4 img, .Project_3 img, .Project_2 img, .Project_1 img {
  display: flex;
  height: 500px;
  margin-top: 5%;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 2px;
}
.center {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: justify;
}
.Project_4:hover img, .Project_3:hover img, .Project_2:hover img, .Project_1:hover img  {
  opacity: .5;
}
.Project_4:hover .center, .Project_3:hover .center, .Project_2:hover .center, .Project_1:hover .center  {
  font-family: Helvetica,sans-serif;
  opacity: 1;
}
.Project_4_text {
  margin-top: 9%;
  margin-right: 23px;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  background-color: gray;
  line-height: 1.5;
}
.Project_3_text {
  margin-top: 9%;
  background-color:  #82B784;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  line-height: 1.5;
}
.Project_2_text {
  margin-top: 9%;
  margin-right: 10px;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  background-color: #D93030;
  line-height: 1.5;
}
.Project_1_text {
  margin-top: 9%;
  margin-right: 23px;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  background-color: #b8a9c9;
  line-height: 1.5;
}
.GitButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
  margin: 15% 2% 0% 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.GitButton:hover {
  background-color: black;
  color: whitesmoke;
}
.SiteButton:hover {
  background-color: black;
  color: whitesmoke;
}
.SiteButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
  margin: 8% 2% 0% 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.Footer {
  font-family: Helvetica,sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 2% 2% 2% 19%;
}
.Main, main, body {
  background-color: whitesmoke;
  height: 100%;
}
.AboutTitle {
  display: flex;
  margin-left: 14%;
  margin-top: 4.5%;
  text-decoration: underline overline;
}
.Projects {
  text-decoration: underline overline;
  margin: 0% 5% -2% 20%;
}
.uiHelp {
  margin: 0% 0% 6% 46.5%;
  font-family: Helvetica,sans-serif;
  color: gray;
}
.uiHelpSkills {
  margin: 0% 33.8% 3% 46.5%;
  font-family: Helvetica,sans-serif;
  color: gray;
  text-align: center;
}
.TechnicalSkills {
  margin: 5% 5% 0% 17.5%;
  text-decoration: underline overline;
  padding-bottom: 1.5%;
}
.Contact{
  text-decoration: underline overline;
  margin-left: 15%;
  margin-top: 0%;
}
.ContactInfo {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  padding: 2%;
  padding-left: 25px;
  border-radius: 2px;
  margin: 3% 17% 7% 31%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Helvetica,sans-serif
}
h3 {
  font-family: Helvetica,sans-serif;
  display: flex;
  padding: 3%;
  justify-content: center;
}

/* Sidebar menu */

.sideNav {
  font-family: Helvetica,sans-serif;
  height: 100%;
  width: 160px;
  background-color:black;
  color: whitesmoke;
  opacity: .95;
  flex-shrink: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: fixed;
  -webkit-align-items: center;
  -ms-flex-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.sideNav ul {
  padding-left: 0%;
  margin-right: 18%;
  margin-top: 20%;
}
.sideNav li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10%;
}
.sideNav a {
  padding: 10px 8px 24px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: whitesmoke;
}
.sideNav a:hover {
  color: whitesmoke;
  text-decoration: underline;
}
#sideNav_Img {
  display:flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 80%;
}
.git{
  padding-bottom: 14%;
  padding-top: 2%;
  width:67%;
}
.linkedIn_Img {
  width: 68%;
}
.resumeIcon {
  width:62%;
  margin-left: 8%;
  padding-bottom: 4%;
}
.Main, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: Helvetica,sans-serif;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@-ms-viewport{
  width: device-width;
}
@media screen and (max-width: 600px) {
  .About {display: flex; flex-direction: column; flex-wrap: wrap; align-items: flex-end; margin-top: 50%; width: 650px;}
  .About img {margin-left: 0%; margin-top: 10%;}
  .AboutDetails {align-self: center; margin: 0%; margin-right: 45%; width: 310px;}
  .sideNav {flex-direction: row; flex-wrap: wrap; width: 100%; height: 150px;}
  .sideNav ul {padding-left: 2%; margin-bottom: 30%; margin-top: .5%;}
  .sideNav li {padding: 2%;}
  #sideNav_Img {display:flex; flex-direction: column; margin-top: -27%; margin-left: 15%;}
  .sideNav a {padding: 0%; width: 50%; font-size: 18px;}
  .resumeIcon {margin-left: 0%;}
  .Title {font-size: 14px; position: absolute; top: 68%; left:-4%;}
  .Name {position: absolute; top: 52%; left:5%; font-size: 30px;}
  .Skills {margin: 2% 40% 2% -18%;}
}