.All {
  display: flex;
}

/* About section */

.About {
  display: inline-block;
  font-family: Helvetica,sans-serif
}
.About img {
  display: flex;
  border-radius: 2px;
  margin-left: 28.25%;
}
.AboutDetails {
  display: flex;
  flex-direction: column;
  margin: 4% 5% 2% 21%;
  color: black;
  font-family: Helvetica,sans-serif;
  text-align: center;
  padding: 2%;
  background-color: whitesmoke;
  border-radius: 2px;
  text-align: justify;
  box-shadow: 8px 8px 3px grey;
  line-height: 1.5;
}
.Name {
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  top: 1.5%;
  left: 30.5%;
  color: white;
}
.Title {
  position: absolute;
  top: 11%;
  left: 20.5%;
  padding: 2% 0 5% 10%;
  font-size: 20px;
  color: white;
  font-weight: 600;
  line-height: 1.25;
}

/* Body  */

.Skills ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 11.2%;
  justify-content: center;
}
.SkillsIcons li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7%;
  padding: 2%;
  box-shadow: 8px 8px 3px grey;
  background-color: whitesmoke;
  border-radius: 2px;
}
.Project_4, .Project_3, .Project_2, .Project_1 {
  font-family: Helvetica,sans-serif;
  position: relative;
  width: 50%;
  margin-left: 31.5%;
  margin-bottom: 10%;
}
.Project_1 {
  margin-bottom: 5%;
}
.Project_4 img{
  height: 464px;
  width: 500px;
}
.Project_4 {
  margin-top: 6%;
  margin-bottom: 5%;
}
.Project_4 img, .Project_3 img, .Project_2 img, .Project_1 img {
  display: flex;
  height: 500px;
  margin-top: 5%;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 2px;
}
.center {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: justify;
}
.Project_4:hover img, .Project_3:hover img, .Project_2:hover img, .Project_1:hover img  {
  opacity: .5;
}
.Project_4:hover .center, .Project_3:hover .center, .Project_2:hover .center, .Project_1:hover .center  {
  font-family: Helvetica,sans-serif;
  opacity: 1;
}
.Project_4_text {
  margin-top: 9%;
  margin-right: 23px;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  background-color: gray;
  line-height: 1.5;
}
.Project_3_text {
  margin-top: 9%;
  background-color:  #82B784;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  line-height: 1.5;
}
.Project_2_text {
  margin-top: 9%;
  margin-right: 10px;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  background-color: #D93030;
  line-height: 1.5;
}
.Project_1_text {
  margin-top: 9%;
  margin-right: 23px;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  padding: 5%;
  width: 380px;
  border-radius: 3px;
  box-shadow: 5px 5px 2.5px black;
  background-color: #b8a9c9;
  line-height: 1.5;
}
.GitButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
  margin: 15% 2% 0% 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.GitButton:hover {
  background-color: black;
  color: whitesmoke;
}
.SiteButton:hover {
  background-color: black;
  color: whitesmoke;
}
.SiteButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
  margin: 8% 2% 0% 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.Footer {
  font-family: Helvetica,sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 2% 2% 2% 19%;
}
.Main, main, body {
  background-color: whitesmoke;
  height: 100%;
}
.AboutTitle {
  display: flex;
  margin-left: 14%;
  margin-top: 4.5%;
  text-decoration: underline overline;
}
.Projects {
  text-decoration: underline overline;
  margin: 0% 5% -2% 20%;
}
.uiHelp {
  margin: 0% 0% 6% 46.5%;
  font-family: Helvetica,sans-serif;
  color: gray;
}
.TechnicalSkills {
  margin: 5% 5% 3% 17.5%;
  text-decoration: underline overline;
}
.Contact{
  text-decoration: underline overline;
  margin-left: 15%;
  margin-top: 0%;
}
.ContactInfo {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  padding: 2%;
  padding-left: 25px;
  border-radius: 2px;
  margin: 3% 17% 7% 31%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Helvetica,sans-serif
}
h3 {
  font-family: Helvetica,sans-serif;
  display: flex;
  padding: 3%;
  justify-content: center;
}

/* Sidebar menu */

.sideNav {
  font-family: Helvetica,sans-serif;
  height: 100%;
  width: 160px;
  background-color:black;
  color: whitesmoke;
  opacity: .95;
  flex-shrink: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: fixed;
  -webkit-align-items: center;
  -ms-flex-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.sideNav ul {
  padding-left: 0%;
  margin-right: 18%;
  margin-top: 20%;
}
.sideNav li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10%;
}
.sideNav a {
  padding: 10px 8px 24px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: whitesmoke;
}
.sideNav a:hover {
  color: whitesmoke;
  text-decoration: underline;
}
#sideNav_Img {
  display:flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 75%;
}
.git{
  padding-bottom: 14%;
  padding-top: 2%;
  width:67%;
}
.linkedIn_Img {
  width: 68%;
}
.resumeIcon {
  width:62%;
  margin-left: 8%;
  padding-bottom: 4%;
}
.Main, main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: Helvetica,sans-serif;
  /* margin-left: 160px;
  padding: 0px 10px; */
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@-ms-viewport{
  width: device-width;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* Gatsby css */
/* html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
} */
/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
} */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
} */
/* audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
} */
/* a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */
